<module>
	<rawname>calendar</rawname>
	<repo>standard</repo>
	<name>Calendar</name>
	<version>14.0.1alpha4</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>This module is used to manage calendar and time based events for FreePBX</description>
	<menuitems>
		<calendar needsenginedb="yes">Calendar</calendar>
		<calendargroups needsenginedb="yes">Calendar Event Groups</calendargroups>
	</menuitems>
	<changelog>
	    *14.0.1alpha1* Development
	</changelog>
	<hooks>
		<ucp class="Ucp">
			<method namespace="FreePBX\Modules" class="Calendar" callingMethod="constructModuleConfigPages">ucpConfigPage</method>
			<method namespace="FreePBX\Modules" class="Calendar" callingMethod="addUser">ucpAddUser</method>
			<method namespace="FreePBX\Modules" class="Calendar" callingMethod="updateUser">ucpUpdateUser</method>
			<method namespace="FreePBX\Modules" class="Calendar" callingMethod="delUser">ucpDelUser</method>
			<method namespace="FreePBX\Modules" class="Calendar" callingMethod="addGroup">ucpAddGroup</method>
			<method namespace="FreePBX\Modules" class="Calendar" callingMethod="updateGroup">ucpUpdateGroup</method>
			<method namespace="FreePBX\Modules" class="Calendar" callingMethod="delGroup">ucpDelGroup</method>
		</ucp>
	</hooks>
	<depends>
		<version>14.0.1beta19</version>
	</depends>	
	<supported>
		<version>14.0</version>
	</supported>
</module>
