<module>
	<rawname>calendar</rawname>
	<repo>standard</repo>
	<name>Calendar</name>
	<version>17.0.4.22</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>This module is used to manage calendar and time based events for FreePBX</description>
	<more-info>https://sangomakb.atlassian.net/wiki/spaces/PG/pages/21332158/Calendar+Module</more-info>
	<menuitems>
		<calendar needsenginedb="yes">Calendar</calendar>
		<calendargroups needsenginedb="yes">Calendar Event Groups</calendargroups>
	</menuitems>
	<changelog>
		*17.0.4.22* Github #717 - Reverting Github Issue #682 fix 
		*17.0.4.21* Github #682 Fixing Reccurent Events do not work with local Calendar 
		*17.0.4.20* FREEI-1133 Fixing google calendar in ical calendar event error. 
		*17.0.1alpha1* 17.0.1 alpha release
	</changelog>
	<depends>
		<version>17.0.1</version>
	</depends>
	<supported>
		<version>17.0</version>
	</supported>
	<console>
		<command>
			<name>calendar</name>
		</command>
	</console>
</module>
