<module>
	<rawname>calendar</rawname>
	<repo>standard</repo>
	<name>Calendar</name>
	<version>16.0.5</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>This module is used to manage calendar and time based events for FreePBX</description>
	<more-info>https://wiki.freepbx.org/display/FPG/Calendar+Module</more-info>
	<menuitems>
		<calendar needsenginedb="yes">Calendar</calendar>
		<calendargroups needsenginedb="yes">Calendar Event Groups</calendargroups>
	</menuitems>
	<changelog>
		*16.0.5* FREEI-3690 Updated 3rd party library 'om/icalparser' to latest version 
		*16.0.4* FREEI-3290 
		*16.0.3* Packaging of ver 16.0.3
		*16.0.2* FREEPBX-22109 Add API REST to control Calendars 
		*16.0.1alpha1* 16.0.1 alpha release
	</changelog>
	<depends>
		<version>14.0.1rc1.18</version>
	</depends>
	<supported>
		<version>16.0</version>
	</supported>
	<console>
		<command>
			<name>calendar</name>
		</command>
	</console>
</module>